/* GENERAL */

* {text-rendering: optimizeLegibility;}

html, body {width: 100%; font-size: 100%; line-height: normal; font-family: Verdana, Arial, sans-serif;}
body {color: #fff; background: #22034a;}

h1, h2, h4, h5, h6 {font-weight: normal;}
h1 {margin: 0 0 6px 0; color: #fff; font-size: 36px; line-height: normal; font-family: Verdana, Arial, sans-serif; font-weight: bold; text-align: center;}
h2 {margin: 0 0 33px 0; color: #fff; font-size: 36px; line-height: normal; font-family: Verdana, Arial, sans-serif; font-weight: bold; text-align: center;}
h3 {margin: 0 0 27px 0; color: #ffb40a; font-size: 36px; line-height: normal; font-family: Verdana, Arial, sans-serif; font-weight: bold; text-align: center;}
h4 {margin: 0; color: #22034a; font-size: 24px; line-height: normal; font-family: Verdana, Arial, sans-serif; font-weight: bold; text-align: center;}
h5 {margin: 0 0 15px 0; color: #000; font-size: 14px; line-height: normal; font-family: Verdana, Arial, sans-serif; font-weight: bold;}
h6 {margin: 0;}

a {text-decoration: none;}
a:hover {text-decoration: underline;}
img {max-width: 100%; height: auto; display: block;}


/* LAYOUT */


/* header */
.header {width: 100%; position: absolute; top: 0; left: 0; bottom: auto; right: auto; background: url(../img/bg/header-bg.png) repeat #c4a8e6;}
	.header .header-content {padding: 8px 17px 8px 0;}

		/* logo */
		.header .logo {width: 88px; float: left;}

		/* navigation */
		.header .main-nav {max-width: 80%; margin: 11px 0 11px 0; float: right;}
		.header .main-nav .mobile-nav {width: 40px; height: 40px; display: none;}
			.header .main-nav li {float: left;}
			.header .main-nav li + li {margin-left: 43px;}
				.header .main-nav li a {color: #22034a; font-size: 24px; line-height: normal; font-family: Verdana, Arial, sans-serif; text-decoration: none; text-transform: capitalize;}
				.header .main-nav li.active a {color: #fff;}

/* sections */
.section {position: relative;}

	.section a {text-decoration: none;}
	.section a:hover {text-decoration: none;}

	.section .content-holder {}

/* section1 */
#section1 {background: url(../img/bg/section1-bg.png) no-repeat center 95%;-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
	#section1 .fp-tableCell {position: relative;}
	#section1 .inner-wrapper {text-align: center;}
		#section1 .content-holder h1 {margin-bottom: 6.1%;}
		#section1 .content-holder p {color:#b7bcc1; font-size:20px; font-family: Verdana, Arial, sans-serif; text-align:center;}
		.section .content-holder .btn-line {font-size: 0; display: inline-block;}
		#section1 .content-holder .btn-line {margin-top: 18.3%;}
			.content-holder .btn-line .btn {height: 50px; min-width: 166px; max-width: 300px; padding: 0 10px; color:#22034a; font-size:18px; font-family:Verdana; letter-spacing:0px; text-align:center; float: left; background: #ffb40a; -moz-box-sizing: border-box; box-sizing: border-box; }
			.content-holder .btn-line .btn +.btn {margin-left: 29px;}
				.content-holder .btn .btn-inner {display: block; position: relative; top: 50%;  transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%);}
					.content-holder .btn .m-small {font-size: 12px; display: block;}


/* section2 */
#section2 {}
	#section2 .inner-wrapper {text-align: center;}
		#section2 .content-holder h1 {margin-bottom: 11%;}
		#section2 .content-holder .descr-info {text-align: center;}
			#section2 .content-holder .descr-info p {color:#fff; font-size:18px; font-family:Verdana; text-align:center;}
			#section2 .content-holder .descr-info p + p {margin-top: 1.8%;}
		#section2 .content-holder .btn-line {margin-top: 13%;}


/* section3 */
#section3 {}
	#section3 .inner-wrapper {}
		#section3 .content-holder h1 {margin-bottom: 9.5%;}
		#section3 .content-holder .demo-holder {font-size: 0; display: table;}
			#section3 .demo-holder .demo-image {width: 633px; margin-top: 210px; display: inline-block; vertical-align: middle;position: relative;}
				#section3 .demo-holder .demo-image img {position: absolute; bottom: auto; right: auto;}
				#section3 .demo-holder .demo-image .image-common {display: none;}
				#section3 .demo-holder .demo-image .image-1 {position: relative; left: -230%;}
				#section3 .demo-holder .demo-image .image-2 {top: -70px; z-index: 100; left: -230%;}
				#section3 .demo-holder .demo-image .image-3 {top: -140px; z-index: 1000; left: -230%;}
				#section3 .demo-holder .demo-image .image-4 {top: -210px; z-index: 10000; left: -230%;}
			#section3 .demo-holder .btn-line {width: 312px; margin-top: -25px; display: inline-block; vertical-align: middle;}
				#section3 .demo-holder .btn-line .btn {float: right;}



/* footer */
.footer {background: #c4a8e6; border-top: 5px solid #ffb40a;}
	.footer .footer-content {padding: 28px 19px 27px 19px; color: #22034a; font-size: 12px; line-height: normal; font-family: Verdana, Arial, sans-serif;}
		.footer .footer-content p.copyright {color: #22034a; font-size: 12px; line-height: normal; font-family: Verdana, Arial, sans-serif;}

/* sections navigation */

.fullpage-nav {width: 60px; height: 60px; position: absolute; bottom: 30px; left: 50%; margin-left: -30px; display: block; z-index: 1000;}


/* GLOBAL MODIFIERS */

.m-w1400 {width: 1400px; margin: 0 auto;}
.m-w945 {width: 945px; margin: 0 auto;}

/* clearfix */
.m-cfix:before, .m-cfix:after {content: " "; display: table; font: 0/0 a;}
.m-cfix:after {clear: both;}
.m-cfix {zoom:1;}




/* MEDIA QUERIES */
@media (max-width: 1440px) {
	.m-w1400 {width: 100%; padding: 0 15px; -moz-box-sizing: border-box; box-sizing: border-box;}
}

@media (min-width: 800px) and (max-height: 800px) {
	#section2 .content-holder h1 {margin-bottom: 5%;}
	#section3 .content-holder h1 {margin-bottom: 3%;}
	#section1 .content-holder .btn-line {margin-top: 5%;}
	#section2 .content-holder .btn-line {margin-top: 3%;}	
}

@media (min-width: 800px) and (max-height: 650px) {
	.fullpage-nav {margin: 2% auto 0 auto; position: static;}
	#section1 .content-holder {padding: 150px 0 3% 0;}
	.section .content-holder {padding: 5% 0 3% 0;}
	#section3 {padding-bottom: 3%;}
	#section3 .content-holder {padding: 5% 0 3% 0;}
} 

@media (max-width: 960px) {
	.m-w945 {width: 100%; padding: 0 3%; -moz-box-sizing: border-box; box-sizing: border-box;}
	#section3 .demo-holder .demo-image {width: 65%;}
	#section3 .demo-holder .demo-image img {width: 100%;}
	#section3 .demo-holder .btn-line {width: 35%; margin-top: -2%; display: inline-block; vertical-align: middle;}
}


@media (max-width: 800px) {	
	.header {position: static;}
	.header .logo {width: 88px; margin: 0 auto 3% auto; float:none;}
	.header .main-nav {width: 100%; max-width: none; text-align: center; float: none;}
    .header .main-nav .mobile-nav {display: inline-block;}
    .header .main-nav ul {padding: 18px 0 18px 0; text-align: center; display: none; clear: both; background: #fff; border: 1px solid #ffb40a;}
    .header .main-nav ul li {margin-left: 0; padding: 5px 30px; float: none;}
    .header .main-nav li.active a {color: #22034a;}
    .section .inner-wrapper {padding: 10% 0 10% 0;}
    .fullpage-nav {display: none;}
    #section1 .content-holder .btn-line {margin-top: 8%;}
	#section2 .content-holder .btn-line {margin-top: 8%;}
	#section2 .content-holder h1 {margin-bottom: 6.1%;}
	#section3 .demo-holder .demo-image {display: block; margin: 0 auto 5% auto; position: static;}
	#section3 .demo-holder .btn-line {width: auto; margin: 0 auto;}
	#section3 .demo-holder .btn-line .btn {float: left;}
	#section3 .inner-wrapper {text-align: center;}
	#section3 .demo-holder .demo-image img {position: static;}
	#section3 .demo-holder .demo-image .image-1,
	#section3 .demo-holder .demo-image .image-2,
	#section3 .demo-holder .demo-image .image-3,
	#section3 .demo-holder .demo-image .image-4 {display: none; left: 0;}
	#section3 .demo-holder .demo-image .image-common {display: block;}
}

@media (max-width: 600px) {
	h1 {font-size: 30px;}
	
}

@media (max-width: 480px) {
	.content-holder .btn-line .btn {width: 166px; margin: 0 auto; display: block; float: none;}
	#section3 .demo-holder .btn-line .btn {float: none;}
	.content-holder .btn-line .btn + .btn {margin-left: 0; margin-top: 20px;}
}
