<!DOCTYPE html>

{% from glob import glob %}
{% from urllib.parse import urlencode %}

<html>

    <head>

        <title>PythonQL</title>

        <meta charset="utf-8"/>
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>
        <meta name="author" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/pages/css/normalize.css" type="text/css" media="all">
        <link rel="stylesheet" href="/pages/css/layout.css" type="text/css" media="all">
        <link rel="stylesheet" href="/pages/css/prettify.css">


        <script src="/pages/js/jquery-3.1.0.min.js"></script>
            <!--[if lt IE 9]>
                <script src="/pages/js/html5shiv-printshiv.min.js"></script>
                <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
        <script src="/pages/js/common.js"></script>
        <script src="/pages/js/prettify.js"></script>
        <script>
                window.onload = (function(){ prettyPrint(); });
        </script>

   </head>

   <body>
     <!-- HEADER -->
     <header class="header">

       <div class="m-w1400">

         <div class="header-content m-cfix">

           <!-- logo -->
           <div class="logo">
             <a href="javascript:;"><img src="/pages/img/misc/logo.png" alt="logo"></a>
           </div>
           <!-- logo end -->

           <!-- menu -->
           <nav class="main-nav m-cfix">
             <a class="mobile-nav" href="/"><img src="/pages/img/icon/mobile_menu.png" alt="mobile_menu"></a>
             <ul class="menu m-cfix">
               <li>
                 <a href="/pages/team.html">PythonQL Team</a>
               </li>
               <li>
                 <a href="https://github.com/pavelvelikhov/pythonql">GitHub</a>
               </li>
               <li>
                 <a href="https://github.com/pavelvelikhov/pythonql/wiki/PythonQL-Intro-and-Tutorial">Documentation</a>
               </li>
             </ul>
           </nav>
           <!-- end menu -->

         </div>

       </div>

     </header>
     <!-- HEADER END -->

     <!-- MAIN -->
     <div class="main m-cfix">

       <div class="m-w1400">

         <!-- main info -->
         <div class="main-info">

           <h1>Welcome to the PythonQL Web Demo</h1>

           <p>The Demo is organized into a number of scenarios that demonstrate the power and usability of PythonQL.<br> Each scenario illustrates a specific use case in data science that is addressed by PythonQL.</p>

         </div>
         <!-- main info end -->


         <!-- main content -->
         <div class="main-content row m-cfix">

           <!-- column 40% -->
           <div class="col m-w-40">
             <input type="hidden" id="is_main_page" value=""/>

             <!-- training section 1 -->
             <section class="training-section">

               <!-- section headline -->
               <div class="headline">
                 <h5>Scenarios</h5>
               </div>
               <!-- section headline end -->
               
               <!-- inner content -->
               <div class="inner-content m-brief">
		 {% set sc_names = [x.split("/")[1] for x in glob("scenarios/*/description.txt")] %}
                 {% set sc_names = sorted(sc_names) %}
                 {% for (i,sc_name) in enumerate(sc_names) %}
                   {% set sc_path = "scenarios/" + sc_name %}
                   {% set scenario_title = open(sc_path + "/title.txt",encoding='utf-8').readlines()[0] %}
                   {% set scenario_desc = open(sc_path + "/short_desc.txt",encoding='utf-8').readlines() %}

                   <!-- inner row {{i+1}} -->
                   <div data-row="{{i+1}}" class="inner-row row-{{i+1}} {{"m-current" if i==0 else ""}} m-cfix">

                     <div class="info">
                       <h5>{{i+1}}. {{scenario_title}}</h5>
                       {% for l in scenario_desc %}
                         <p>{{l.rstrip()}}</p>
                       {% end %}
                     </div>

                   </div>
                   <!-- inner row {{i+1}} end -->

                 {% end %}

               </div>
               <!-- inner content end -->

             </section>
             <!-- training section 1 end -->

           </div>
           <!-- column 40% end -->

           <div class="col m-w-60">

             <!-- training section 1 -->
             <section class="training-section">

               <!-- section headline -->
               <div class="headline">
                 <h5><a data-tab="1" class="tab tab-1 tab-main" href="javascript:;">Description</a><a data-tab="2" class="tab tab-2 tab-main" href="javascript:;">Queries</a></h5>
               </div>
               <!-- section headline end -->

               <!-- inner content -->
               <div class="inner-content">

                 <!-- description tab -->
                 <div class="info tab-body tab-body-1">

                   {% for (i,sc_name) in enumerate(sc_names) %}
                     {% set scenario_title = open("scenarios/"+sc_name+"/title.txt",encoding='utf-8').readlines()[0] %}
                     {% set desc = open("scenarios/"+sc_name+"/description.txt",encoding='utf-8').readlines() %}

                     <!-- description holder {{i+1}} -->
                     <div class="descr-holder">
                       <h5>{{scenario_title}}<br> Description:</h5>
                       {% for l in desc %}
                         <p>{{l.rstrip()}}</p>
                       {% end %}
                     </div>
                     <!-- description holder {{i+1}} end -->
                   {% end %}

                 </div>
                 <!-- description tab end -->

                 <!-- queries tab -->
                 <div class="info tab-body tab-body-2">
                   {% for (i,sc_name) in enumerate(sc_names) %}
                     {% set scenario_title = open("scenarios/"+sc_name+"/title.txt",encoding='utf-8').readlines()[0] %}

                     <!-- queries holder {{i+1}} -->
                     <div class="queries-holder">
                       <h5>{{scenario_title}}<br>Queries:</h5>

                       {% for (j,q) in enumerate(sorted(glob("scenarios/"+sc_name+"/queries/*.pql"))) %}
                         {% set q_name = q.split("/")[3] %}
                         {% set base_name = q_name.split(".")[0] %}
                         {% set descr = open("scenarios/"+sc_name+"/queries/"+base_name+".txt",encoding='utf-8').readlines() %}
                         <p><a href="/query.html?{{urlencode({'q':q})}}"><b>{{q_name}}</b>: {{descr[0].rstrip()}}</a></p>
                         
                       {% end %}

                     </div>
                     <!-- queries holder {{i+1}} end -->

                   {% end %}

		 </div>
                 <!-- queries tab end -->

               </div>
               <!-- inner content end -->

             </section>
             <!-- training section 1 end -->

           </div>
           <!-- column 60% end -->

         </div>
         <!-- main content end -->

       </div>

     </div>
     <!-- MAIN END -->

     <!-- FOOTER -->
     <footer class="footer">

       <div class="m-w1400">

         <div class="footer-content m-cfix">

           <p class="copyright">© PythonQL 2016</p>

         </div>

       </div>

     </footer>
     <!-- FOOTER END -->

   </body>

</html>
