{% from glob import glob %}
{% from urllib.parse import urlencode %}
<html>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,600,700" rel="stylesheet" />
  <link href="/pages/default.css" rel="stylesheet" type="text/css" media="all" />
  <title>PythonQL Demo</title>
  <div id="header" class="container">
      <div id="logo">
        <h1><a href="#">PythonQL Web Demo</a></h1>
      </div>
      <div id="menu">
        <ul>
          <li><a href="#" accesskey="1" title="">About PythonQL</a></li>
          <li><a href="#" accesskey="1" title="">PythonQL Team</a></li>
        </ul>
      </div>
  </div>

  <div id="wrapper">
    <div id="welcome" class="wrapper-style1">
      <div class="title">
        <h2>Scenario: {{name}}</h2>
        <span class="byline">
        </span>
        <p>
         {% set desc_f = open("scenarios/"+name+"/description.txt") %}
         {% set desc = desc_f.readlines() %}
         {% for l in desc %}
           {{l.rstrip()}}
         {% end %}
        </p>
      </div>
    </div>

  {% for (i,sc) in enumerate(sorted(glob("scenarios/"+name+"/queries/*.pql"))) %}
  {% set q_name = sc.split("/")[3] %}
    <div id="page" class="container">
      <div id="content">
        <div class="title">
           <h2>Query "{{q_name}}":</h2>
        </div>
        <span class="byline">
           {% set base_name = q_name.split(".")[0] %}
           {% set qdesc_f = open("scenarios/"+name+"/queries/" +base_name+".txt") %}
           {% set qdesc = qdesc_f.readlines() %}
           {% for l in qdesc %}
             {{l.rstrip()}}
           {% end %}
         </span>
         <br/>
         <br/>
         <a href="/view_query?{{urlencode({'q':sc})}}">View and Run<a/>
      </div>
    </div>
  {% end %}
 
  </div>
</html>
