<!DOCTYPE html>

{% from glob import glob %}
{% from urllib.parse import urlencode %}

<html>

<head>
        <meta charset="utf-8"/>
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>
        <meta name="author" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/pages/css/normalize.css" type="text/css" media="all">
        <link rel="stylesheet" href="/pages/css/layout.css" type="text/css" media="all">
        <link rel="stylesheet" href="/pages/css/prettify.css">


        <script src="/pages/js/jquery-3.1.0.min.js"></script>
            <!--[if lt IE 9]>
                <script src="/pages/js/html5shiv-printshiv.min.js"></script>
                <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
        <script src="/pages/js/common.js"></script>
        <script src="/pages/js/split.js"></script>
        <script src="/pages/js/prettify.js"></script>
       		<script>
       		window.onload = (function(){ prettyPrint(); });
       		</script>

</head>

<!-- MAIN -->
<div class="main m-cfix">

  <div class="m-w1400">

    <!-- main content -->
    <div class="main-content row m-cfix">

      <!-- column 1 -->
      <div class="col-one-third split split-horizontal" id="one">
        				
        <!-- training section 1 -->
        <section class="training-section m-upper">

          <!-- section headline -->
          <div class="headline"> <h5>Scenarios</h5> </div>
          <!-- section headline end -->

          <!-- inner content -->
          <div class="inner-content m-brief">

          {% for (i,sc) in enumerate(glob("scenarios/*/description.txt")) %}
          {% set sc_path = "/".join(sc.split("/")[0:-1]) %}
          {% set sc_name = sc.split("/")[1] %}
          {% set scenario_title = open(sc_path + "/title.txt",encoding='utf-8').readlines()[0] %}
          {% set scenario_desc = open(sc_path + "/short_desc.txt",encoding='utf-8').readlines() %}
          <!-- inner row 1 -->
          <div class="inner-row m-current m-cfix">
            <div class="info">
              <a href="scenario.html?{{urlencode({'name':sc_name})}}" target="scenario"><h5>{{i+1}}. {{scenario_title}}</h5></a>
               {% for l in scenario_desc %}
                 <p>{{l.rstrip()}}</p>
               {% end %}
            </div>
            <!-- 
              <div class="image">
        	<img src="/pages/img/misc/relational-img.png" alt="Relational">
              </div>
            -->

          </div>
          <!-- inner row 1 end -->	        					        					
          {% end %}
        </div>
      </div>
    </section>
  </div>
</div>


</html>
